<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn1OMAx4HKbwktTbZB7zwJg2pF89-eaTU</string>
	<key>GCM_SENDER_ID</key>
	<string>462365261662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sqlAutoGrader</string>
	<key>PROJECT_ID</key>
	<string>sql-auto-grader</string>
	<key>STORAGE_BUCKET</key>
	<string>sql-auto-grader.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462365261662:ios:d00b41b4327eaf152b99cf</string>
</dict>
</plist>