.container {
  display: flex;
  gap: 10%;
  flex-direction: row;
  flex-wrap: wrap;
}



.question-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.question-col {
  flex: 1 1;
  min-width: 0;
}

.question-col textarea,
.question-col select {
  width: 100%;
  box-sizing: border-box;
}

.questions-wrapper {
  width:800px;
  max-width: 100%;
}

.code-editor {
  width: 360px;
  flex-shrink: 0;
  /* position: fixed;
  top: 200px;
  right: 20px; */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  z-index: 100;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .question-row {
    flex-direction: column;
    width: 100%;
  }

  .questions-wrapper {
    padding-right: 0;
  }

  .code-editor {
    position: static;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
  }

  .layout-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
}

